body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  #question-container {
    margin-bottom: 20px;
  }
  ol {
    padding-left: 0;
  }
  li {
    list-style: none; /* Remove default list styling */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  li label {
    margin-left: 8px;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #0056b3;
  }
  #score-container {
    margin-bottom: 20px;
  }